.main-container-wrap-detailjob{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 67%;
}

.extra-container-wrap-detailjob{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 33%;
}

.logoCO-DetailJob{
    width: 100px;
}